@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 1600px;
    --speed: 20s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsla(246, 76%, 72%, 0.6), hsla(126, 80%, 78%, 0.7));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 1500px) {
    .gradient {
        --size: 1400px;
    }
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }